.hero {
  height: 43.75rem;
  .hero-description-container {
    padding: 3.75rem 0 0 1.25rem;
    h1 {
      color: $black;
    }
    p {
      width: 95%;
      color: $black;
      margin: 1.75rem 0;
    }
  }
}

.hero-image {
  position: relative;
  background: url(/src/assets/mobile/image-hero.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 12.5rem;
}

.button-wrapper {
  @include flex();
  width: 11.13rem;
  height: 3.75rem;
  background-color: $red;
  cursor: pointer;
  &:hover a::after {
    width: 100%;
    left: 0;
  }
  a {
    position: relative;
    text-decoration: none;
    color: $white;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0.13rem;
      bottom: -0.25rem;
      left: 50%;
      background-color: $white;
      transition: all 550ms;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    height: 38rem;
    .hero-description-container {
      padding: 0 0 0 1.88rem;
      display: flex;
      align-items: center;
      order: 1;
      p {
        margin: 2.19rem 0;
      }
    }
    .hero-description-wrapper {
      position: absolute;
      width: 32.5rem;
    }
  }
  .hero-image {
    background: url(/src/assets/tablet/image-hero.jpg) no-repeat center;
    box-shadow: 0.32rem 0px 5rem 0px $white inset;
    background-size: cover;
    height: 100%;
    order: 2;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .hero {
    grid-template-columns: 1fr 2fr;
    height: 50rem;
    .hero-image {
      background: url(/src/assets/desktop/image-hero.jpg) no-repeat center;
      background-size: cover;
      width: 100%;
    }
    .hero-description-container {
      padding-left: 5.63rem;
      p {
        margin: 2.82rem 0;
      }
    }

    .hero-description-wrapper {
      width: 39.38rem;
    }
  }
}
