@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: Commissioner, sans-serif;
  color: $white;
}

.navbar li {
  font-size: 18px;
  &:last-child {
    font-weight: 700;
    font-size: 16px;
  }
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0px;
}

h2 {
  font-size: 32px;
  font-weight: 800px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 15px;
  line-height: 24px;
}

.button-wrapper a {
  font-size: 18px;
}

.number {
  font-size: 80px;
  font-weight: 800;
  opacity: 0.25;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
  }

  .navbar li {
    font-size: 15px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
