@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  @media (min-width: 1320px) {
    font-size: 18px;
  }
  @media (min-width: 1540px) {
    font-size: 20px;
  }
  @media (min-width: 1540px) {
    font-size: 22px;
  }
}

body {
  font-family: Commissioner, sans-serif;
  color: $white;
}

.navbar li {
  font-size: 1.13rem;
  &:last-child {
    font-weight: 700;
    font-size: 1rem;
  }
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.94rem;
  line-height: 1.5rem;
}

.button-wrapper a {
  font-size: 1.13rem;
}

.main-footer {
  color: $black;
}

.number {
  font-size: 5rem;
  font-weight: 800;
  opacity: 0.25;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .navbar li {
    font-size: 0.94rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 800;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 800;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 800;
  }

  p {
    font-size: 1.13rem;
    line-height: 2rem;
  }
}
