@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

.red {
  color: #f94f4f;
}

@media (min-width: 1320px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1540px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: Commissioner, sans-serif;
  color: #ffffff;
}

.navbar li {
  font-size: 1.13rem;
}

.navbar li:last-child {
  font-weight: 700;
  font-size: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.94rem;
  line-height: 1.5rem;
}

.button-wrapper a {
  font-size: 1.13rem;
}

.main-footer {
  color: #000000;
}

.number {
  font-size: 5rem;
  font-weight: 800;
  opacity: 0.25;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .navbar li {
    font-size: 0.94rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 800;
  }
  h2 {
    font-size: 3.5rem;
    font-weight: 800;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 800;
  }
  p {
    font-size: 1.13rem;
    line-height: 2rem;
  }
}

.navbar {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  height: 6.5rem;
  z-index: 1;
  padding: 0 2.19rem;
}

.navbar::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  overflow-x: hidden;
  display: block;
  z-index: 2;
}

.navbar .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.navbar .menu-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.navbar .menu-button-container .menu-button-wrapper {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
}

.navbar .menu-button-container .menu-button-wrapper .menu-button-center,
.navbar .menu-button-container .menu-button-wrapper .menu-button-top,
.navbar .menu-button-container .menu-button-wrapper .menu-button-bottom {
  position: relative;
  width: 100%;
  height: 0.13rem;
  background-color: #191921;
}

.navbar .menu-button-container .menu-button-wrapper .menu-button-top {
  margin-bottom: 0.32rem;
}

.navbar .menu-button-container .menu-button-wrapper .menu-button-bottom {
  margin-top: 0.32rem;
}

.navbar .mobile-navbar-links-container {
  position: absolute;
  top: -18.25rem;
  bottom: unset;
  right: 1.86rem;
  left: unset;
  width: 15.75rem;
  height: 18.25rem;
  z-index: -1;
  background-color: #191921;
}

.navbar .mobile-navbar-links-container .mobile-navbar-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 2.19rem;
}

.navbar li {
  position: relative;
  list-style-type: none;
  color: #ffffff;
  cursor: pointer;
}

.navbar li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #f94f4f;
}

.navbar li:last-child:hover a::after {
  width: 100%;
  left: 0;
}

.navbar li::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0.13rem;
  bottom: -0.25rem;
  left: 50%;
  background-color: #ffffff;
  -webkit-transition: all 550ms;
  transition: all 550ms;
}

.navbar li a {
  position: relative;
}

.navbar li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0.13rem;
  bottom: -0.25rem;
  left: 50%;
  background-color: #ffffff;
  -webkit-transition: all 550ms;
  transition: all 550ms;
}

.navbar .nav-links:hover:after {
  width: 100%;
  left: 0;
}

.navbar .navbar-links-container {
  display: none;
}

.close {
  -webkit-transform: translateY(origin);
          transform: translateY(origin);
  -webkit-transition-duration: 550ms;
          transition-duration: 550ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.open {
  -webkit-transform: translateY(396px);
          transform: translateY(396px);
  -webkit-transition-duration: 550ms;
          transition-duration: 550ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.burger-close .menu-button-top {
  -webkit-transform: rotate(origin);
          transform: rotate(origin);
  -webkit-transition-duration: 550ms;
          transition-duration: 550ms;
}

.burger-close .menu-button-center {
  -webkit-transform: translateX(origin);
          transform: translateX(origin);
  -webkit-transition-duration: 550ms;
          transition-duration: 550ms;
}

.burger-close .menu-button-bottom {
  -webkit-transform: rotate(origin);
          transform: rotate(origin);
  -webkit-transition-duration: 550ms;
          transition-duration: 550ms;
}

.burger-open .menu-button-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition-duration: 550ms;
          transition-duration: 550ms;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.burger-open .menu-button-center {
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  -webkit-transition-duration: 550ms;
          transition-duration: 550ms;
}

.burger-open .menu-button-bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition-duration: 550ms;
          transition-duration: 550ms;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

@media (min-width: 768px) {
  .navbar {
    -ms-grid-columns: 1fr 1.4fr;
        grid-template-columns: 1fr 1.4fr;
    padding: 0;
    height: 11rem;
  }
  .navbar::after {
    display: none;
  }
  .navbar .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1.88rem;
  }
  .navbar .menu-button-container {
    display: none;
  }
  .navbar .navbar-links-container {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f94f4f;
    padding: 1.88rem;
  }
  .navbar .navbar-links-container .navbar-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .navbar .navbar-links-container li:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3.13rem;
    width: 9.38rem;
    background-color: #191921;
  }
  .mobile-navbar-links-container {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .navbar .logo-container {
    padding-left: 5.63rem;
  }
  .navbar .navbar-links-container {
    padding: 0 7.5rem 0 3.13rem;
  }
  .navbar .navbar-links-container li {
    margin-right: 1.25rem;
  }
  .navbar .navbar-links-container li:last-child {
    margin-right: 0;
  }
}

.hero {
  height: 43.75rem;
}

.hero .hero-description-container {
  padding: 3.75rem 0 0 1.25rem;
}

.hero .hero-description-container h1 {
  color: #000000;
}

.hero .hero-description-container p {
  width: 95%;
  color: #000000;
  margin: 1.75rem 0;
}

.hero-image, .strategic-design .strategic-design-image {
  position: relative;
  background: url(/src/assets/mobile/image-hero.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 12.5rem;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.13rem;
  height: 3.75rem;
  background-color: #f94f4f;
  cursor: pointer;
}

.button-wrapper:hover a::after {
  width: 100%;
  left: 0;
}

.button-wrapper a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

.button-wrapper a::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0.13rem;
  bottom: -0.25rem;
  left: 50%;
  background-color: #ffffff;
  -webkit-transition: all 550ms;
  transition: all 550ms;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.4fr;
        grid-template-columns: 1fr 1.4fr;
    height: 38rem;
  }
  .hero .hero-description-container {
    padding: 0 0 0 1.88rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero .hero-description-container p {
    margin: 2.19rem 0;
  }
  .hero .hero-description-wrapper {
    position: absolute;
    width: 32.5rem;
  }
  .hero-image, .strategic-design .strategic-design-image {
    background: url(/src/assets/tablet/image-hero.jpg) no-repeat center;
    -webkit-box-shadow: 0.32rem 0px 5rem 0px #ffffff inset;
            box-shadow: 0.32rem 0px 5rem 0px #ffffff inset;
    background-size: cover;
    height: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 992px) {
  .hero {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    height: 50rem;
  }
  .hero .hero-image, .hero .strategic-design .strategic-design-image, .strategic-design .hero .strategic-design-image {
    background: url(/src/assets/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
  }
  .hero .hero-description-container {
    padding-left: 5.63rem;
  }
  .hero .hero-description-container p {
    margin: 2.82rem 0;
  }
  .hero .hero-description-wrapper {
    width: 39.38rem;
  }
}

.strategic-design {
  height: 36.19rem;
  background-color: #000000;
}

.strategic-design .strategic-design-image {
  background: url(/src/assets/mobile/image-strategic.jpg) no-repeat center;
  background-size: cover;
}

.strategic-design .strategic-design-image .strategic-wave-red-mobile {
  position: absolute;
  bottom: -0.75rem;
  left: 1.25rem;
}

.strategic-design .strategic-description-container {
  padding: 2.5rem 0 0 1.25rem;
}

.strategic-design .strategic-description-container p {
  width: 95%;
  margin: 1.75rem 0;
}

.strategic-design .strategic-description-container .button-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: transparent;
}

.strategic-design .strategic-description-container .button-wrapper:hover a::after {
  width: 0%;
}

.strategic-design .strategic-description-container .button-wrapper a::after {
  background-color: #f94f4f;
  width: 100%;
  left: 0;
}

.strategic-design .strategic-description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.strategic-wave-red-desktop {
  display: none;
}

@media (min-width: 768px) {
  .strategic-design {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    height: 41.25rem;
  }
  .strategic-design .strategic-design-image {
    background: url(/src/assets/tablet/image-strategic.jpg) no-repeat center;
    background-size: cover;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .strategic-design .strategic-design-image .strategic-wave-red-mobile {
    position: absolute;
    top: 13.13rem;
    right: -1.75rem;
    bottom: unset;
    left: unset;
  }
  .strategic-design .strategic-description-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 3.5rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 992px) {
  .strategic-design {
    height: 61.5rem;
  }
  .strategic-design .strategic-description-container {
    padding-left: 5.82rem;
  }
  .hero-image, .strategic-design .strategic-design-image {
    background: url(/src/assets/desktop/image-strategic.jpg) no-repeat center;
    background-size: cover;
  }
  .strategic-design .strategic-description-container p {
    width: 80%;
  }
  .strategic-wave-red-mobile {
    display: none;
  }
  .strategic-wave-red-desktop {
    display: block;
    position: absolute;
    top: 21.25rem;
    right: -58px;
    bottom: unset;
    left: unset;
  }
}

.keypoints {
  height: 57.38rem;
  background-color: #f94f4f;
  padding: 6rem 1.25rem;
}

.keypoints h3 {
  margin-bottom: 0.94rem;
}

.keypoints-title-wrapper {
  margin-bottom: 4.69rem;
}

.keypoint {
  position: relative;
  max-width: 22.19rem;
  min-width: 18.75rem;
  height: 10rem;
  margin-top: 1.57rem;
  padding: 0 1.57rem;
}

.keypoint .number {
  position: absolute;
  top: -1rem;
  left: 0;
}

@media (min-width: 768px) {
  .keypoints {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.4fr;
        grid-template-columns: 1fr 1.4fr;
    height: 42.38rem;
    padding: 0;
  }
  .keypoints-title-wrapper {
    color: #000000;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 8.38rem 0 0 1.86rem;
    margin: 0;
  }
  .keypoints-container {
    position: relative;
    background-color: #f94f4f;
  }
  .keypoints-container .keypoints-wrapper {
    position: absolute;
    background-color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -7.63rem;
    right: 0;
    width: 100%;
    height: 50rem;
  }
  .keypoint {
    width: 22.19rem;
  }
}

@media (min-width: 992px) {
  .keypoints {
    height: 56.25rem;
  }
  .keypoints h3 {
    margin-bottom: 1.88rem;
  }
  .keypoints-title-wrapper {
    position: relative;
    padding-left: 5.63rem;
  }
  .keypoints-title-container {
    position: absolute;
    width: 33.75rem;
    z-index: 1;
  }
  .keypoints-container .keypoints-wrapper {
    padding: 7.69rem 0 0 5.82rem;
  }
  .keypoint {
    margin-top: 4.38rem;
    max-width: 31.5rem;
    width: 31.5rem;
  }
}

.slide {
  width: 300vw;
  height: 42.38rem;
}

.slide .wave-white {
  display: none;
}

.slide-image-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 100%;
  height: 25.38rem;
}

.slide-image-container .slide-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 25.38rem;
}

.slide-desc-wrapper {
  text-align: right;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  padding: 1.25rem;
  width: 100%;
}

.slide-image-1 {
  background: url(/src/assets/mobile/image-slide-1.jpg) no-repeat center;
  background-size: cover;
}

.slide-image-2 {
  background: url(/src/assets/mobile/image-slide-2.jpg) no-repeat center;
  background-size: cover;
}

.slide-image-3 {
  background: url(/src/assets/mobile/image-slide-3.jpg) no-repeat center;
  background-size: cover;
}

.slide-control-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 20px;
  height: 17rem;
  background-color: #000000;
}

.slide-control-container .arrows-wrapper {
  margin-top: 1.88rem;
}

.slide-control-container .arrows-wrapper .prev {
  margin-right: 1.25rem;
}

.slide-control-container .arrows-wrapper .prev,
.slide-control-container .arrows-wrapper .next {
  cursor: pointer;
}

.slide-control-container .arrows-wrapper .prev:hover,
.slide-control-container .arrows-wrapper .next:hover {
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  border-radius: 50%;
  background-color: #ffffff;
}

.wave-white-desktop {
  display: none;
}

@media (min-width: 768px) {
  .slide {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.4fr;
        grid-template-columns: 1fr 1.4fr;
    width: 100%;
    height: 29.5rem;
  }
  .slide .wave-white {
    display: block;
    position: absolute;
    right: -1.75rem;
  }
  .slide-image-container {
    position: relative;
    width: 300%;
    height: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .slide-image-container .slide-image {
    height: 100%;
  }
  .slide-control-container {
    padding: 0;
    position: relative;
  }
  .slide-control-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -12.5rem;
    background-color: #ffffff;
  }
  .slide-control-container .slide-control-wrapper {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 1.88rem;
    background-color: inherit;
    width: calc(100% + 30%);
    height: 100%;
  }
  .slide-desc-wrapper {
    padding: 0 1.88rem 1.88rem 0;
  }
  .slide-image-1 {
    background: url(/src/assets/tablet/image-slide-1.jpg) no-repeat center;
    background-size: cover;
  }
  .slide-image-2 {
    background: url(/src/assets/tablet/image-slide-2.jpg) no-repeat center;
    background-size: cover;
  }
  .slide-image-3 {
    background: url(/src/assets/tablet/image-slide-3.jpg) no-repeat center;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  .slide {
    height: 45.69rem;
  }
  .slide .wave-white {
    display: none;
  }
  .slide-control-container {
    height: 31.25rem;
  }
  .slide-control-container::before {
    bottom: -15.63rem;
  }
  .slide-control-container .slide-control-wrapper {
    padding-left: 5.62rem;
  }
  .slide-control-container .arrows-wrapper {
    margin-top: 2.19rem;
  }
  .slide-desc-wrapper {
    padding: 0 5.63rem 3.75rem 0;
  }
  .slide-image-1 {
    background: url(/src/assets/desktop/image-slide-1.jpg) no-repeat center;
    background-size: cover;
  }
  .slide-image-2 {
    background: url(/src/assets/desktop/image-slide-2.jpg) no-repeat center;
    background-size: cover;
  }
  .slide-image-3 {
    background: url(/src/assets/desktop/image-slide-3.jpg) no-repeat center;
    background-size: cover;
  }
  .wave-white-desktop {
    position: absolute;
    right: -58px;
    display: block;
  }
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: relative;
  height: 390px;
  padding: 20px;
}

.main-footer h2 {
  margin-bottom: 2.5rem;
}

.footer-wave-red-desktop {
  display: none;
}

@media (min-width: 768px) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
    height: 252px;
  }
  .main-footer h2 {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .main-footer {
    height: 23rem;
    padding: 0 5.63rem;
  }
  .footer-wave-red-desktop {
    position: absolute;
    left: -75px;
    top: calc(50% - 1.25rem);
    display: block;
  }
}
/*# sourceMappingURL=app.css.map */