.slide {
  width: 300vw;
  height: 42.38rem;
  .wave-white {
    display: none;
  }
}

.slide-image-container {
  position: relative;
  @include flex();
  transition: 500ms;
  width: 100%;
  height: 25.38rem;
  .slide-image {
    @include flex($flow: column, $justify: flex-end, $align: flex-end);
    width: 100%;
    height: 25.38rem;
  }
}

.slide-desc-wrapper {
  text-align: right;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  padding: 1.25rem;
  width: 100%;
}

.slide-image-1 {
  background: url(/src/assets/mobile/image-slide-1.jpg) no-repeat center;
  background-size: cover;
}
.slide-image-2 {
  background: url(/src/assets/mobile/image-slide-2.jpg) no-repeat center;
  background-size: cover;
}
.slide-image-3 {
  background: url(/src/assets/mobile/image-slide-3.jpg) no-repeat center;
  background-size: cover;
}

.slide-control-container {
  @include flex($flow: column, $align: flex-start);
  padding: 0 20px;
  height: 17rem;
  background-color: $black;
  .arrows-wrapper {
    margin-top: 1.88rem;
    .prev {
      margin-right: 1.25rem;
    }
    .prev,
    .next {
      cursor: pointer;
      &:hover {
        transition: background-color 500ms;
        border-radius: 50%;
        background-color: $white;
      }
    }
  }
}

.wave-white-desktop {
  display: none;
}

@media (min-width: 768px) {
  .slide {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    width: 100%;
    height: 29.5rem;
    .wave-white {
      display: block;
      position: absolute;
      right: -1.75rem;
    }
  }
  .slide-image-container {
    position: relative;
    width: 300%;
    height: 100%;
    order: 2;
    .slide-image {
      height: 100%;
    }
  }
  .slide-control-container {
    padding: 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -12.5rem;
      background-color: $white;
    }
    .slide-control-wrapper {
      position: absolute;
      @include flex($flow: column, $align: flex-start);
      padding-left: 1.88rem;
      background-color: inherit;
      width: calc(100% + 30%);
      height: 100%;
    }
  }

  .slide-desc-wrapper {
    padding: 0 1.88rem 1.88rem 0;
  }

  .slide-image-1 {
    background: url(/src/assets/tablet/image-slide-1.jpg) no-repeat center;
    background-size: cover;
  }
  .slide-image-2 {
    background: url(/src/assets/tablet/image-slide-2.jpg) no-repeat center;
    background-size: cover;
  }
  .slide-image-3 {
    background: url(/src/assets/tablet/image-slide-3.jpg) no-repeat center;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  .slide {
    height: 45.69rem;
    .wave-white {
      display: none;
    }
  }
  .slide-control-container {
    height: 31.25rem;
    &::before {
      bottom: -15.63rem;
    }
    .slide-control-wrapper {
      padding-left: 5.62rem;
    }
    .arrows-wrapper {
      margin-top: 2.19rem;
    }
  }
  .slide-desc-wrapper {
    padding: 0 5.63rem 3.75rem 0;
  }
  .slide-image-1 {
    background: url(/src/assets/desktop/image-slide-1.jpg) no-repeat center;
    background-size: cover;
  }
  .slide-image-2 {
    background: url(/src/assets/desktop/image-slide-2.jpg) no-repeat center;
    background-size: cover;
  }
  .slide-image-3 {
    background: url(/src/assets/desktop/image-slide-3.jpg) no-repeat center;
    background-size: cover;
  }
  .wave-white-desktop {
    position: absolute;
    right: -58px;
    display: block;
  }
}
