.keypoints {
  height: 57.38rem;
  background-color: $red;
  padding: 6rem 1.25rem;
  h3 {
    margin-bottom: 0.94rem;
  }
}

.keypoints-title-wrapper {
  margin-bottom: 4.69rem;
}

.keypoint {
  position: relative;
  max-width: 22.19rem;
  min-width: 18.75rem;
  height: 10rem;
  margin-top: 1.57rem;
  padding: 0 1.57rem;
  .number {
    position: absolute;
    top: -1rem;
    left: 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .keypoints {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    height: 42.38rem;
    padding: 0;
  }
  .keypoints-title-wrapper {
    color: $black;
    background-color: $white;
    @include flex($justify: flex-start, $align: flex-start);
    padding: 8.38rem 0 0 1.86rem;
    margin: 0;
  }
  .keypoints-container {
    position: relative;
    background-color: $red;
    .keypoints-wrapper {
      position: absolute;
      background-color: inherit;
      @include flex($flow: column);
      top: -7.63rem;
      right: 0;
      width: 100%;
      height: 50rem;
    }
  }
  .keypoint {
    width: 22.19rem;
  }
}

@media (min-width: 992px) {
  .keypoints {
    height: 56.25rem;
    h3 {
      margin-bottom: 1.88rem;
    }
  }
  .keypoints-title-wrapper {
    position: relative;
    padding-left: 5.63rem;
  }
  .keypoints-title-container {
    position: absolute;
    width: 33.75rem;
    z-index: 1;
  }

  .keypoints-container {
    .keypoints-wrapper {
      padding: 7.69rem 0 0 5.82rem;
    }
  }
  .keypoint {
    margin-top: 4.38rem;
    max-width: 31.5rem;
    width: 31.5rem;
  }
}
